
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Raleway:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');
@font-face {
    font-family: "Android";
    src: url(../fontes/idroid.otf) format("opentype");
    font-weight: normal;
}
/*
criando variaveis em root
*/
:root{
    --c0: #c5ebd6;
    --c1: #83e1ad;
    --c2: #3ddc84;
    --c3: #2fa866;
    --c4: #1a5c37;
    --c5: #063d1e;
    --font_padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;

}
/*configurações globais *{} */
*{
    margin: 0px;
    padding: opx;

}
body{
background-color: var(--c0);
font-family: var(--font_padrao);
}
header{
    background-image: linear-gradient(to top, var(--c5), var(--c3));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 4em;
    text-shadow: black 1px 6px 5px;
}
h3{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
nav{
    background-color: var(--c5);
    padding: 10px;
    text-align: left;
    font-size: 0.8em;
    
    
}
nav > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    transition-duration: 1s;
}
nav > a:hover{
    background-color: var(--c2);
}
main{
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    min-width: 320px;
    box-shadow: #063d1e 1px 1px 17px 6px;

}
main h1{
    color: var(--c5);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--c4);
    background-image: linear-gradient(to right, var(--c2), transparent);
    padding-left: 5px;
}
main a{
    background-color: #2fa866;
    text-decoration: none;
    padding: 0px 3px;
    
}

img{
    width: 100%;
}
p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 15px;
    line-height: 1.6em;
}
#droid{
    width: 30%;
    display: block;
    margin: auto;
}
div > iframe{
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 22px 1px 1px 0px;
}
aside{
    background-color: #2fa866;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #063d1e 1px 1px 3px 5px;
    


}
aside h4{
    background-color: #063d1e;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-top: 30px;
    
}
aside ul{
    columns:  2;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 0.8em;
}
footer{
    background-color: #063d1e;
    color: white;
    padding: 5px;
    
}
footer p{
    margin: 0px;
    text-align: center;
    text-indent: 0px;
    font-size: 0.7em;
}
a.ext::after{
    content: '\1F517';


}
