@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');
:root{
    --c1: #2F7A96;
    --c2: #8DE0F2;
    --c3: #0c485e;
    --f1: 'Raleway', sans-serif;
}

*{ 
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to right, var(--c2), var(--c1));
    width: 100vw;
    height: 100vh;
    color: #0c485e;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    display: block;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: #0c485ea1 1px 1px 12px 12px;
    
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-mikael-blomkvist-6483626.jpg);
    background-size: cover;
    height: 200px;
    background-position: right;
}
div#formulario{
    padding: 17px;
}
div#formulario > p{
    font-size: 0.6em;
    font-weight: bolder;
    padding: 5px 0px;
}
input{
    margin-top: 4px;
}

input.botao{
    background-color: #023e754d;
    font-weight: bolder;
    font-size: 0.6em;
    padding: 3px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    display: block;
    
    
}
input#bot1{
    width: 95%;
    background-color: #0b8ea0;
    color: white;
    
}
form > input#bot1:hover{
    background-color: black;
    
}
span{
    width: 30px;
    color: white;
    transform: translateY(4px);
    padding-left: 5px; 
}
div.campo{
    background-color: #2F7A96;
    margin: 5px;
    border-radius: 10px;
}
div.campo > input{
    font-size: 1.0em;
    width: 80%;
    height: 90%;
    border-radius: 8px;
    transform: translateY(-2px);
    border: none;
    padding-left: 7px;
    margin-bottom: 1px;
   
    font-weight: bolder;
    
   

}